## .NET / Visual Studio

# Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ll]og/
[Ll]ogs/

# Visual Studio cache/options
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# NuGet
*.nuget.props
*.nuget.targets
packages/
*.nupkg

# Rider / VS Code
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Secrets / local config
appsettings.*.local.json
*.env

# Test results
TestResults/
